.other-text, .special-text {
  line-height: 1.5em;
  font-size: 50px;
  font-family: sans-serif;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  padding: 50px;
  font-size: 0.77rem;
}

.seccion {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  align-items: center;
}

h1 {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

.items {
  width: 100%;
  background-color: rgb(81, 255, 0);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  min-width: 250px;
  padding: 30px;
  margin: 50px 0;
}

input {
  padding: 7px;
  margin: 4px 0;
  border-radius: 7px;
  border: none;
}

input[type=text],
input[type=number] {
  background-color: black;
  color: rgb(60, 255, 0);
  box-shadow: 0 0 7px;
  width: 100%;
}

input[type=submit] {
  color: rgb(0, 0, 0);
  background-color: rgb(60, 255, 0);
  font-weight: bold;
  box-shadow: 0 0 7px rgb(60, 255, 0);
  cursor: pointer;
}

input[type=submit]:active {
  box-shadow: none;
}

input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

table {
  width: 100%;
  max-width: 800px;
  min-width: 250px;
}

caption {
  padding: 10px;
}

td,
tr,
th {
  padding: 10px;
  border: 1px solid white;
  border-radius: 7px;
  width: 20%;
}

.td {
  color: rgb(60, 255, 0);
}

tfoot {
  text-align: center;
}

.botones {
  padding: 15px 30px;
  background-color: salmon;
}
.botones:hover {
  background-color: chocolate;
}
.botones-lg {
  font-size: 30px;
}
.botones-lg-bg-color {
  background-color: aqua;
}

.container-lg {
  display: flex;
  justify-content: start;
  align-items: end;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  border: 1px solid black;
}
@media (min-width: 480px) {
  .container-lg {
    width: 80%;
  }
}
@media (min-width: 780px) {
  .container-lg {
    width: 95%;
  }
}

.container-mg {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 480px) {
  .container-mg {
    width: 80%;
  }
}
@media (min-width: 760px) {
  .container-mg {
    width: 95%;
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.column {
  width: 40.1162790698%;
  background-color: rgba(186, 212, 34, 0.5);
  border: 2px solid #bad422;
  box-shadow: 0 0 5px #e4f09f;
}

.scroll {
  width: 100%;
  margin: 0 auto;
}
.scroll__div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.scroll__div-contenido {
  width: 170px;
  height: 170px;
  background-color: aqua;
}

.codigos {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.codigos__btn-code {
  padding: 7px;
  width: 7rem;
  display: inline-block;
  cursor: pointer;
  margin: 7px;
  background-color: rgb(48, 48, 48);
  color: white;
  border: none;
  border-radius: 7px;
}

.container-codigo {
  background-color: black;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: rgb(41, 41, 41);
  border-radius: 17px;
  padding: 20px 0;
  max-width: 407px;
  color: rgb(0, 255, 0);
  transition: all 1s ease;
}

#html, #css, #js {
  transition: all 1s ease;
}

.active-codido {
  animation: code 2s linear infinite both;
}

@keyframes code {
  0% {
    transform: scale(0) translateX(-200px) rotateY(180deg);
  }
  50% {
    transform: scale(1) translateX(0) rotateY(380deg);
    text-shadow: 7px 7px 7px rgb(0, 4, 255);
  }
  100% {
    transform: scale(0) translateX(-200px) rotateY(180deg);
  }
}
.atributo {
  color: rgb(0, 255, 255);
}

.parrafo-movil {
  font-style: italic;
  font-family: sans-serif;
  color: rgb(255, 0, 234);
  font-weight: bold;
  font-size: 60px;
  animation: code 10s linear infinite both;
}

.parrafo-movil2 {
  font-style: italic;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 60px;
  animation: code2 20s linear infinite both;
  perspective: 800px;
}

@keyframes code2 {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
    background: -webkit-linear-gradient(0deg, rgb(255, 0, 255), rgb(253, 2, 98) 70.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    transform: rotate3d(0, 1, 0, 360deg);
    background: -webkit-linear-gradient(180deg, rgb(255, 0, 255), rgb(253, 2, 98) 70.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    transform: rotate3d(0, 1, 0, 0deg);
    background: -webkit-linear-gradient(0deg, rgb(255, 0, 255), rgb(253, 2, 98) 70.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/* 
    1px 1px 0px hsl(300,72%,40%),
    2px 2px 0px hsl(300,72%,39%),
    3px 3px 0px hsl(300,72%,38%),
    4px 4px 0px hsl(300,72%,37%),
    5px 5px 0px hsl(300,72%,36%),;
    6px 6px 0px hsl(300,72%,35%),
    7px 7px 0px hsl(300,72%,34%),
    8px 8px 0px hsl(300,72%,33%),
    9px 9px 0px hsl(300,72%,32%),
    10px 10px 0px hsl(300,72%,31%),;

*/
.parrafo-movil3 {
  font-style: italic;
  font-family: sans-serif;
  color: rgb(255, 0, 234);
  font-weight: bold;
  font-size: 60px;
  animation: code3 10s linear infinite both;
}

@keyframes code3 {
  0% {
    text-shadow: -1px -1px 0px hsl(300, 72%, 40%), -2px -2px 0px hsl(300, 74%, 38%), -3px -3px 0px hsl(300, 76%, 36%), -4px -4px 0px hsl(300, 78%, 34%), -5px -5px 0px hsl(300, 80%, 32%), -6px -6px 0px hsl(300, 82%, 30%), -7px -7px 0px hsl(300, 78%, 28%), -8px -8px 0px hsl(300, 78%, 26%), -9px -9px 0px hsl(300, 78%, 24%);
  }
  25% {
    text-shadow: -1px 1px 0px hsl(300, 72%, 40%), -2px 2px 0px hsl(300, 74%, 38%), -3px 3px 0px hsl(300, 76%, 36%), -4px 4px 0px hsl(300, 78%, 34%), -5px 5px 0px hsl(300, 80%, 32%), -6px 6px 0px hsl(300, 82%, 30%), -7px 7px 0px hsl(300, 78%, 28%), -8px 8px 0px hsl(300, 78%, 26%), -9px 9px 0px hsl(300, 78%, 24%);
  }
  50% {
    text-shadow: 1px 1px 0px hsl(300, 72%, 40%), 2px 2px 0px hsl(300, 74%, 38%), 3px 3px 0px hsl(300, 76%, 36%), 4px 4px 0px hsl(300, 78%, 34%), 5px 5px 0px hsl(300, 80%, 32%), 6px 6px 0px hsl(300, 82%, 30%), 7px 7px 0px hsl(300, 78%, 28%), 8px 8px 0px hsl(300, 78%, 26%), 9px 9px 0px hsl(300, 78%, 24%);
  }
  75% {
    text-shadow: 1px -1px 0px hsl(300, 72%, 40%), 2px -2px 0px hsl(300, 74%, 38%), 3px -3px 0px hsl(300, 76%, 36%), 4px -4px 0px hsl(300, 78%, 34%), 5px -5px 0px hsl(300, 80%, 32%), 6px -6px 0px hsl(300, 82%, 30%), 7px -7px 0px hsl(300, 78%, 28%), 8px -8px 0px hsl(300, 78%, 26%), 9px -9px 0px hsl(300, 78%, 24%);
  }
  100% {
    text-shadow: -1px -1px 0px hsl(300, 72%, 40%), -2px -2px 0px hsl(300, 74%, 38%), -3px -3px 0px hsl(300, 76%, 36%), -4px -4px 0px hsl(300, 78%, 34%), -5px -5px 0px hsl(300, 80%, 32%), -6px -6px 0px hsl(300, 82%, 30%), -7px -7px 0px hsl(300, 78%, 28%), -8px -8px 0px hsl(300, 78%, 26%), -9px -9px 0px hsl(300, 78%, 24%);
  }
}/*# sourceMappingURL=main.css.map */