* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $black;
  color: $light;
  padding: 50px;
  font-size: .77rem;
}

.seccion {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  
  align-items: center;
}

h1 {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

.items {
  width: 100%;

  background-color: rgb(81, 255, 0);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  min-width: 250px;
  padding: 30px;
  margin: 50px 0;
}

input {
  padding: 7px;
  margin: 4px 0;
  border-radius: 7px;
  border: none;
}

input[type="text"],
input[type="number"] {
  background-color: black;
  color: rgb(60, 255, 0);
  box-shadow: 0 0 7px;
  width: 100%;
}

input[type="submit"] {
  color: rgb(0, 0, 0);
  background-color: rgb(60, 255, 0);
  font-weight: bold;
  box-shadow: 0 0 7px rgb(60, 255, 0);
  cursor: pointer;
}

input[type="submit"]:active {
  box-shadow: none;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

table {
  width: 100%;
  max-width: 800px;
  min-width: 250px;
}

caption {
  padding: 10px;
}

td,
tr,
th {
  padding: 10px;
  border: 1px solid white;
  border-radius: 7px;
  width: 20%;
}

.td {
  color: rgb(60, 255, 0);
  
}

tfoot {
  text-align: center;
}